<br />
<section class="singleColumn">
  <h1>Theatre</h1>
  <div>
    <h2>Find A Theatre</h2>
    &nbsp;

    <div class="row">
      <div class="col-md-4">
        <article class="boxListItem" style="height: 437px; margin-right: 1%;" data-rel="central">
          <div>
            <img src="img/paradigm-mall-jb.jpg" alt="GSC Paradigm Mall JB" title="GSC Paradigm Mall JB"
              style="height:170px;">
          </div>
          <div>
            <p>
              <h2 style="font-size: 16px; color:azure;">GSC Paradigm Mall JB</h2>
            </p>
            <p style="font-size:14px;">
              Paradigm Mall, 7F-01 & 7F-02,
              <br>
              Jalan Bertingkat Skudai,
              <br>
              Bukit Mewah,
              <br>
              81200 Johor Bahru, Johor
            </p>
            <a class="btn btn-primary" role="button" href="#movie" style="">Buy Tickets</a>
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <article class="boxListItem" style="height: 437px; margin-right: 1%;" data-rel="central">
          <a href="">
            <img src="img/umall.jpg" alt="U Mall" title="U Mall" style="height:170px;">
          </a>
          <div>
            <p>
              <h2 style="font-size: 16px; color:azure;">MBO U Mall Skudai</h2>
            </p>
            <p style="font-size:14px;">
              Lot F3, 4,5 , U Mall, 45,
              <br>
              Jalan Persiaran Pulai Utama,
              <br>
              Taman Pulai Utama,
              <br>
              81110 Skudai, Johor
            </p>
            <a class="btn btn-primary" role="button" href="#movie">Buy Tickets</a>
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <article class="boxListItem" style="height: 437px; margin-right: 1%;" data-rel="central">
          <a href="">
            <img src="img/skudaiparade2.jpg" alt="Lotus Five Star" title="Lotus Five Star" style="height:170px;">
          </a>
          <div>
            <p>
              <h2 style="font-size: 16px; color:azure;">Lotus Five Star Skudai Parade</h2>
            </p>
            <p style="font-size:14px;">
              Skudai Parade,
              <br>
              Jalan Skudai,
              <br>
              81300 Johor Bahru, Johor
            </p>
            <a class="btn btn-primary" role="button" href="#movie">Buy Tickets</a>
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <article class="boxListItem" style="height: 437px; margin-right: 1%;" data-rel="central">
          <a href="">
            <img src="img/aeon_Bukit_Indah.jpg" alt="AEON Bukit Indah" title="AEON Bukit Indah" style="height:170px;">
          </a>
          <div>
            <p>
              <h2 style="font-size: 16px; color:azure;">TGV AEON Bukit Indah Shopping Centre</h2>
            </p>
            <p style="font-size:14px;">
              LOT S51,
              <br>
              Aeon Bukit Indah Shopping Centre, 8,
              <br>
              Jalan Indah 15/2,
              <br>
              Taman Bukit Indah,
              <br>
              81200 Johor Bahru, Johor
            </p>
            <a class="btn btn-primary" role="button" href="#movie">Buy Tickets</a>
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <article class="boxListItem" style="height: 437px; margin-right: 1%;" data-rel="central">
          <a href="">
            <img src="img/city-square.jpg" alt="Mmcineplexes City Square" title="Mmcineplexes City Square"
              style="height:170px;">
          </a>
          <div>
            <p>
              <h2 style="font-size: 16px; color:azure;">Mmcineplexes City Square</h2>
            </p>
            <p style="font-size:14px;">
              M5-03/04
              <br>
              City Square, 108,
              <br>
              Jalan Wong Ah Fook,
              <br>
              80000 Johor Bahru, Johor
            </p>
            <a class="btn btn-primary" role="button" href="#movie">Buy Tickets</a>
          </div>
        </article>
      </div>

      <div class="col-md-4">
        <article class="boxListItem" style="height: 437px; margin-right: 1%;" data-rel="central">
          <a href="">
            <img src="img/kpi-cinema.jpg" alt="Kpi Cinemas" title="Kpi Cinemas" style="height:170px;">
          </a>
          <div>
            <p>
              <h2 style="font-size: 16px; color:azure;">Kpi Cinemas Johor Bahru</h2>
            </p>
            <p style="font-size:14px;">
              3, Jalan Persisiran Perling,
              <br>
              Taman Perling,
              <br>
              81200 Johor Bahru, Johor
            </p>
            <a class="btn btn-primary" role="button" href="#movie">Buy Tickets</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{{!-- <!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/">
      WTC-Web.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer --> --}}
